body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2b76cc;
    padding: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: aquamarine;
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}